<h1 mat-dialog-title>Lista zamówień</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="padding: 0">

<!--    <ng-container matColumnDef="id">-->
<!--      <th mat-header-cell *matHeaderCellDef> Id. </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="imię">
      <th mat-header-cell *matHeaderCellDef> Imię </th>
      <td mat-cell *matCellDef="let element"> {{element.customerFirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="nazwisko">
      <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.customerLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="adres">
      <th mat-header-cell *matHeaderCellDef> Adres </th>
      <td mat-cell *matCellDef="let element"> {{element.customerAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.customerMail}} </td>
    </ng-container>

    <ng-container matColumnDef="ilość">
      <th mat-header-cell *matHeaderCellDef> Ilość </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef> Cena </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="zatwierdzono">
      <th mat-header-cell *matHeaderCellDef> Zatwierdzono</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox title="Zatwierdź" [disabled]="element.accepted" [checked]="element.accepted" (change)="finish(element)" [color]="'green'">
        </mat-checkbox>
          &nbsp;
        <mat-icon class="icon-delete" title="Usuń" size="10" style="font-size: 20px;position: relative" (click)="delete(element)"
        >delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Wyjdź</button>
</div>


