<div class="toolbar" role="banner">
  <div class="title"><span><h2>System do obsługi zamówień</h2></span></div>
  <div class="spacer"></div>
  <button mat-stroked-button [style.background-color]="'#fff'" [style.color]="'#ff5a00'" style="margin: 5px"
          (click)="openOrders()" *ngIf="user != null">Pokaż zamówienia
  </button>
  <button mat-stroked-button [style.background-color]="'#fff'" [style.color]="'#ff5a00'" style="margin: 5px"
          (click)="openProductForm()" *ngIf="user != null">Dodaj produkt
  </button>
  <button mat-stroked-button [style.background-color]="'#fff'" [style.color]="'#ff5a00'" style="margin: 5px"
          (click)="openLoginForm()" *ngIf="!user">Zaloguj się
  </button>

</div>
<div class="content" role="main">
  <div class="d-flex" style="margin: 5px" *ngIf="products && products.length > 0">
    <div>
      <div class="form" style="margin: 10px">

        <div class="header">
          <div style=" min-height: 30px; border-radius: 5px" class="background-light-orange flex-center d-flex">

          </div>
        </div>

        <div class="body" *ngFor="let product of products; let i = index">
          <div class="child d-flex">
            <div style="width: 90%"><h2 style="margin-right: 5px"><label>{{product.name}} ({{product.quantity}})</label>
            </h2>
              <div class="full-width">{{product.price}} zł</div>&nbsp;
              <div class="full-width">{{product.description}}</div>
            </div>
            <div class="icon-panel">
              <mat-icon class="icon-delete" title="Add"
                        (click)="openOrderForm(product)" *ngIf="user == null">shopping_cart
              </mat-icon>
              <mat-icon class="icon-delete" title="Delete"
                        (click)="deleteProduct(product.id)" *ngIf="user">delete
              </mat-icon>

            </div>
          </div>
        </div>
        <div class="footer background-light-orange">
          <div class="footer-row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
